- if current_user
  - @messages.each do |msg|
    = render partial: "shared/messages", locals: { msg: msg }
- else
  = link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-sm btn-primary"
  = link_to "Registrarse", new_user_registration_path, class: "btn btn-sm btn-primary"

