= link_to "NUEVO GRUPO", new_group_path, class: "btn btn-sm btn-success"

.widget
  .widget-head
    .pull-left GRUPOS
    .widget-icons.pull-right
    .clearfix
  .widget-content
    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th NOMBRE
            %th OPCIONES
        %tbody
          - @groups.each do |group|
            %tr
              %td= group.name
              %td
                = link_to edit_group_path(group), class: "button btn btn-xs btn-warning" do
                  %i.fa.fa-pencil
                = link_to group_path(group), method: :delete, :data => { :confirm => 'Está seguro?' }, class: "button btn btn-xs btn-danger" do
                  %i.fa.fa-times
          
    .widget-foot
