/ Main menu with font awesome icon
%li
  %a{:href => users_path}
    %i.fa.fa-home
    Usuarios
%li
  %a{:href => groups_path}
    %i.fa.fa-home
    Grupos
%li
  %a{:href => categories_path}
    %i.fa.fa-home
    Categorias

%li
  = link_to destroy_user_session_path, method: :delete do
    %i.fa.fa-home
    Cerrar Sesión
